body{
    font-family: 'IBM Plex Mono', monospace;
    margin: 0px;
}
.top-left-banner{
    background-image: url(Images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.top-left-banner img{
    padding-top: 30px;
    padding-right: 30px;
    margin-right: 50px;
}
.top-left-banner2{
    background-image: url(Images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-bottom: 0px;
}
.half-width-bio{
    width: 40%;
    float: right;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 150px;
}
.half-width{
    width: 40%;
    height: 60%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}
.name{
    padding-top: 5px;
}
.half-width a{
    margin-top: 5px;
    padding-top: 10px;
}
.half-width h4{
    padding-top: 20%;
}
.half-width h2{
    padding-top: 10px;
}
.half-width p{
    padding-top: 10px;
}
.half-width img{
    width: 100%;
    size: cover;
    position: relative;
    float: left;
}
.name{
    color: rgb(240, 15, 109);
}
.link1{
    text-decoration: none;
    background-image: linear-gradient(90deg, rgb(255, 0, 128), rgb(234, 0, 255));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.msg{
    color: white;
}
p{
    color: dimgray;
    font-size: 100%;
}
h2{
    font-size: 45px;
}
h4{
    font-size: 25px;
}
section{
    height: 500px;
}
.half-width-work{
    margin-left: 80px;
    margin-right: 80px;
}
.half-width-work img{
    margin: 10px;
    padding: 8px;
    width: 30%;
    float: left;
    height: cover;
}
.bottom-left-banner3{
    background-image: url(Images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5%;
    height: 100%;
}
.work-text{
    text-align: center;
}
@media screen and (max-width: 600px) {
    h2{
        font-size: 36px;
        line-height: 50px;
    }
}
.last{
    padding-left: 30%;
    padding-right: 30%;
}
.Client{
    padding-top: 0px;
}
.ceo{
    size: 5%;
    text-align: center;
    padding-top: 0px;
}
.top-left-banner4{
    background-image: url(Images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin-top: 0%;
}
.email{
    text-align: center;
    background-color: rgb(255, 0, 140);
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-left: 330px;
    margin-right: 330px;
}
.footer{
    text-align: center;
    font-size: 15px;
}